.racer-select {
  margin-top: 40px;
  margin-bottom: 40px;
}
.bike-indicator {
  border-radius: 50%;
  border: #000000 solid 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;

  /* TODO Position correctly */
  display: inline-block;
  position: absolute;
  right: 20px;
  top: -27px;
}
.racer-edit-container {
  display: inline-block;
  border-radius: 25px 0;
  color: #FFFFFF;
  background-color: #4F4F4F;
  width: 100%;
  min-height: 90px;
  padding: 25px 8px 0;
}
.name {
  font-size: 20px;
}

.add-new-user-disabled {
  color: #868686;
}

.race-setting-value {
  color: #6FDCFF;
  font-size: 20px;
}
