.clock-frame {
  height: 388px;
  width: 388px;
  border: white solid 1px;
  margin-left: auto;
  margin-right: auto;
  background: url("../../../images/open-sprints-bg.jpg") center center / 388px 388px no-repeat;
  position: relative;
}

.clock-face {
  margin: 1px;
  height: 384px;
  width: 384px;
  border: white solid 2px;
  border-radius: 192px;
  position: relative;
}

.clock-center {
  border: white solid 8px;
  border-radius: 8px;
  display: inline-block;
  position: absolute;
  top: 182px;
  left: 182px;
  z-index: 100;
}

.poleContainer {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.northContainer {
  top: 20px;
}

.southContainer {
  bottom: 20px;
}

.poleGuideline {
  position: absolute;
  left: 189px;
  border-left: white solid 2px;
  height: 15px;
}

.northGuideline {
  top: 0;
}

.southGuideline {
  bottom: 0;
}

.tropicContainer {
  position: absolute;
  top: 178px;

  /* These are for the inner span */
  vertical-align: middle;
  font-size: 24px;
  line-height: 24px;
}

.eastContainer {
  right: 20px;
}

.westContainer {
  left: 20px;
}

.tropicGuideline {
  position: absolute;
  top: 189px;
  border-top: white solid 2px;
  width: 15px;
}

.eastGuideline {
  right: 0;
}

.westGuideline {
  left: 0;
}

.stopwatch {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 26px;
  line-height: 20px;
  font-weight: bold;
}
