.blue-message {
  font-size: 20px;
  color: #6FDCFF;
}

.add-message {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  vertical-align: super;
  margin-right: 10px;
}

.stopwatch {
  position: absolute;
  top: 28px;
  right: 10px;
  font-size: 26px;
  line-height: 20px;
  font-weight: bold;
}
