.raceContainer {
  padding: 5px 0 20px;
}

.bikeContainer {
  border: 1px #6FDCFF solid;
  margin-right: 10px;
  padding-right: 5px;
  width: calc(25% - 10px);
  height: 48px;
  line-height: 46px;
  float: left;
  position: relative;
  padding-left: 15px;
  box-sizing: border-box;
}

.name {
  vertical-align: middle;
}

.raceOptionsRow {
  height: 36px;
  padding-left: 0;
}

.action {
  cursor: pointer;
  margin-left: 15px;
  vertical-align: middle;
}

.disabled {
  color: grey;
}
