.addRacerBtn {
  vertical-align: middle;
  color: #0079A1;
  cursor: pointer;
}
.addRacerBtn:hover, .addRacerBtn:focus {
  color: #6FDCFF;
}

.racersHeader {
  border-bottom: solid #6FDCFF 1px;
  cursor: pointer;
}
