.addRacerBtn {
  margin-left: 5px;
  vertical-align: middle;
  color: #0079A1;
  cursor: pointer;
}
.addRacerBtn:hover, .addRacerBtn:focus {
  color: #6FDCFF;
  outline: 0;
}

.racersHeader {
  padding: 5px 10px;
  border-bottom: solid #6FDCFF 1px;
  cursor: pointer;
  text-transform: uppercase;
}

.racersHeader:first-child {
  padding: 5px 0;
}

.racerTable {
  width: 100%;
}

.racerTable th:first-child, .racerTable td:first-child {
  width: 24px;
}

.racerTable i {
  vertical-align: middle;
}
