@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background: url("../images/open-sprints-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  color: white;
}

/* Material Design Icon Spec */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype')
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing Material Design Icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

a {
  color: #ffffff;
}

a:hover {
  color: #c2c2c2;
  text-decoration: none;
}

.btn-default,
.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active,
.btn-default:hover,
.btn-default:focus {
  color: #FFFFFF;
  background: transparent;
  border-color: #FFFFFF;
}

.btn-xs {
  padding: 2px 18px;
  font-size: 12px;
  line-height: 1;
  margin: 0;
}

.btn {
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

.btn-primary,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  color: #000000;
  background: #FCCC06;
  border-color: #FCCC06;
}

hr {
  border-top: 4px solid #0079A1;
}

hr.heading {
  margin-top: 0;
}

.input-group {
  width: 100%;
}

.input-group .form-control:focus {
  z-index: 2;
}

.form-control-feedback {
  width: auto;
}

.select-container {
  position: relative;
  display: inline-block;
}

.block {
  display: block;
}

.select-container .form-control-feedback {
  top: 0;
}

input[type=text].form-control {
  border: 1px solid #0079A1;
  border-radius: 0;
  background: transparent;
  color: #6FDCFF;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

select.form-control {
  background: transparent;
  color: white;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid white;
  -webkit-appearance: none;
}

.checkbox {
  margin: 5px 0;
}

.checkbox i {
  color: #6FDCFF;
  margin-right: 5px;
  vertical-align: text-bottom;
}

.checkbox label {
  color: #6FDCFF;
  font-size: 24px;
  padding-left: 10px;
  vertical-align: top;
}

.unselectable {
  -webkit-user-select: none;
}

input.context {
  padding-left: 20px;
}

.modal-content {
  background: #000000;
  border: 1px solid #6FDCFF;
  border-radius: 0;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.countdown-modal {
  margin: 100px auto;
}

.countdown-modal .modal-content {
  text-align: center;
}

.countdown-modal .modal-content .modal-footer {
  text-align: center;
}

.label {
  padding: 0;
  font-size: 100%;
}

/*** Dropdown ***/
.Dropdown-root {
  position: relative;
  display: inline-block;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  color: #6FDCFF;
  cursor: pointer;
  padding: 8px 0 8px;
  transition: all 200ms ease;
  width: 180px;
}

.Dropdown-arrow:before {
  font-size: 36px;
  line-height: 38px;
  font-family: "Material Icons";
  content: '\E5C5';
  color: #6FDCFF;
  position: absolute;
  right: 0;
  top: 0;
}

.is-open .Dropdown-arrow:before {
  color: #FFFFFF;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0,0,0,0.06);
  box-sizing: border-box;
  margin-top: -1px;
  overflow-y: auto;
  position: absolute;
  left: -35px;
  width: calc(100% + 35px);
  z-index: 1000;
}

.Dropdown-option {
  color: #0079A1;
  cursor: pointer;
  display: block;
  padding: 12px 30px;
  margin: 0 5px;
  white-space: nowrap;
  border-bottom: solid #0095C2 1px;
}

.Dropdown-option:last-child {
  border-bottom: none;
}

.Dropdown-option.is-selected:before {
  color: #0079A1;
  font-size: 18px;
  position: absolute;
  left: 10px;
  font-family: "Material Icons";
  content: '\E86C';
}

.gearMenu.Dropdown-root {
  height: 36px;
}

.gearMenu.Dropdown-control {
  float: right;
}

.gearMenu.Dropdown-placeholder {
  text-align: right;
}

.gearMenu.Dropdown-menu {
  right: 0;
  left: auto;
  top: 40px;
  text-align: left;
  width: auto;
}
