$med-blue: #0079A1;
$light-blue: #6FDCFF;

$yellow: #FCCC06;

$red: #881212;
$violet: #2521C2;
$purple: #7C2B9A;
$green: #1F7C46;

body {
  font-family: 'Lato', sans-serif;
  background: url("./open-sprints-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

/* TODO: Need to make sure sizing for all elements follows material design spec (making touch targets easy to hit) */

/* Material Design Icon Spec */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../node_modules/material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
     local('MaterialIcons-Regular'),
     url(../node_modules/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
     url(../node_modules/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
     url(../node_modules/material-design-icons/MaterialIcons-Regular.ttf) format('truetype')
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing Material Design Icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.round-btn {
  border-radius: 25px;
  border: 2px solid $yellow;
  padding: 12px 20px;
  color: $yellow;
}

.solid-round-btn {
  @extend .round-btn;
  color: #000000;
  background-color: $yellow;
}

.logo {
  //width: 160px;
  height: 48px;
  float: left;
}

.nav-icon {
  color: #ffffff;
  cursor: pointer;
  padding: 6px;
  max-height: 48px;
  max-width: 48px;
}

a {
  color: #ffffff;
  &:hover {
    color: #c2c2c2;
    text-decoration: none;
  }
}

.drop-down-container {
  position: relative;
  display: inline-block;
  .drop-down {
    position: absolute;
    right: 6px;
    top: 12px;
    background: black;
    z-index: 1000;
    min-width: 150px;
    .list {
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;
      a {
        display: block;
        text-align: right;
        margin: 0;
        width: 100%;
        padding: 16px 20px 16px;
        float: none;
        line-height: 0;
        cursor: pointer;
        text-transform: capitalize;
      }
    }
    ul {
      padding: 10px;
      li {
        position: relative;
        list-style: none;
        padding: 4px;
      }
    }
  }
}

h4 {
  color: #c2c2c2;
}

.group-heading {
  color: #ffffff;
}
.input-group, .form-group {
  label {
    color: #ffffff;
  }
}

.changeable {
  @extend .unselectable;
  cursor: pointer;
  color: $light-blue;
  label {
    font-size: 18px;
    padding-left: 10px;
    vertical-align: top;
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

